/* ESTILOS GENERALES PARA TODAS LAS PAGINAS */

body {
    margin: 0;
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 1000;
    background-color: rgba(46, 139, 87, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-nav {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo h2 {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 30px;
}

body {
    margin: 0;
    padding-top: 70px;
}

main.container {
    min-height: calc(100vh - 140px);
}

/* BOTONES ADMIN (PRODUCTOS Y NOTICIAS) */

.btn-crear {
    display: inline-block;
    padding: 12px 24px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn-editar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn-borrar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn-crear:hover {
    background-color: #2c80b4;
}

.btn-editar:hover {
    background-color: #d68910;
}

.btn-borrar:hover {
    background-color: #c0392b;
}



