.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.section p {
    font-size: 18px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

/* PRECIO */
.card strong {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color: #2e8b57;
}

/* Stock */
.card span {
    font-weight: bold;
}

/* IMAGEN DE CADA UNO */

.producto-img {
    width: 100%;
    max-width: 220px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* BOTON PARA VERLO EN DETALLE */

.btn-detalle {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2e8b57;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn-detalle:hover {
    background-color: #256f46;
}

/* FILTRO POR CATEGORIAS */

.filtro-categorias {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.btn-filtro {
    padding: 10px 25px;
    border: 2px solid #2e8b57;
    border-radius: 25px;
    text-decoration: none;
    color: #2e8b57;
    font-weight: bold;
    transition: all 0.3s;
}

.btn-filtro:hover {
    background-color: #2e8b57;
    color: white;
}

.btn-filtro.activo {
    background-color: #2e8b57;
    color: white;
}