<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nuevo producto</title>

    <link rel="stylesheet" th:href="@{/css/comun.css}">
    <link rel="stylesheet" th:href="@{/css/tienda.css}">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<section class="section white">
    <div class="container">

        <h2>Añadir nuevo producto</h2>

        <form th:action="@{/tienda/nuevo}"
              th:object="${producto}"
              method="post"
              class="card">

            <!-- NOMBRE -->
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}">
            <p th:if="${#fields.hasErrors('nombre')}"
               th:errors="*{nombre}">
            </p>

            <!-- DESCRIPCIÓN -->
            <label>Descripción</label>
            <textarea th:field="*{descripcion}"></textarea>
            <p th:if="${#fields.hasErrors('descripcion')}"
               th:errors="*{descripcion}">
            </p>

            <!-- PRECIO -->
            <label>Precio</label>
            <input type="number" step="0.01" th:field="*{precio}">
            <p th:if="${#fields.hasErrors('precio')}"
               th:errors="*{precio}">
            </p>

            <!-- STOCK -->
            <label>Stock</label>
            <input type="number" th:field="*{stock}">
            <p th:if="${#fields.hasErrors('stock')}"
               th:errors="*{stock}">
            </p>

            <!-- IMAGEN -->
            <label>Imagen (ruta)</label>
            <input type="text"
                   th:field="*{imagen}"
                   placeholder="piensos/pienso_perro.jpg">
            <p th:if="${#fields.hasErrors('imagen')}"
               th:errors="*{imagen}">
            </p>

            <button type="submit" class="btn-detalle">
                Guardar producto
            </button>

        </form>


    </div>
</section>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
