<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <title>Noticias</title>
    
    <link rel="stylesheet" th:href="@{/css/comun.css}">
    <link rel="stylesheet" th:href="@{/css/noticias.css}">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<section class="hero">
    <div class="hero-content">
        <h1>Noticias y novedades</h1>
    </div>
</section>

<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/noticias/nueva}" class="btn-detalle">
        ➕ Nueva noticia
    </a>
</div>

<section class="section white">
    <div class="container">

        <div class="cards">

            <div sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/noticias/editar/{id}(id=${noticia.id})}">
                    ✏️ Editar
                </a>

                <a th:href="@{/noticias/borrar/{id}(id=${noticia.id})}"
                   onclick="return confirm('¿Seguro que quieres borrar esta noticia?')">
                    🗑️ Borrar
                </a>
            </div>

        </div>

    </div>
</section>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>