<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tienda Online</title>

    <!-- CSS común -->
    <link rel="stylesheet" th:href="@{/css/comun.css}">
    <!-- CSS específico de la tienda -->
    <link rel="stylesheet" th:href="@{/css/tienda.css}">
</head>

<body>

    <!-- Header común -->
    <div th:replace="fragments/header :: header"></div>

    <!-- TÍTULO -->
    <section class="section white">
        <div class="container">
            <h2>Nuestra tienda</h2>
            <p>
                Productos de calidad para el cuidado y bienestar de tu mascota.
            </p>
        </div>
    </section>

    <!-- LISTADO DE PRODUCTOS -->

    <div class="ver-carrito">
        <a th:href="@{/carrito}" class="btn-carrito">
            🛒 Ver carrito
        </a>
    </div>

    <section class="section gray">
        <div class="container">

            <div class="cards">

                <div class="card" th:each="producto : ${productos}">

                    <img th:src="@{/img/productos/{ruta}(ruta=${producto.imagen})}" alt="Imagen del producto"
                        class="producto-img">

                    <h3 th:text="${producto.nombre}">Nombre producto</h3>

                    <p th:text="${producto.descripcion}">Descripción</p>

                    <p>
                        <strong th:text="${producto.precio} + ' €'">0 €</strong>
                    </p>

                    <p>
                        Stock:
                        <span th:text="${producto.stock}">0</span>
                    </p>

                    <a th:href="@{/tienda/{id}(id=${producto.id})}" class="btn-detalle">
                        Ver producto
                    </a>

                    <a th:href="@{/tienda/borrar/{id}(id=${producto.id})}" class="btn-detalle"
                        onclick="return confirm('¿Seguro que deseas borrar este producto?');">
                        Borrar
                    </a>

                    <a th:href="@{/tienda/editar/{id}(id=${producto.id})}"
                       class="btn-detalle">
                        Editar
                    </a>

                    <form th:action="@{/carrito/agregar/{id}(id=${producto.id})}" method="post">
                        <button type="submit" class="btn-detalle">
                            Añadir al carrito
                        </button>
                    </form>

                </div>

            </div>

        </div>
    </section>

    <!-- Footer común -->
    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>